<div class="pull-right">
    <div class="btn-group">
        <button ng-if="secondary"
            class="btn btn-secondary" type="button" ng-bind="secondaryMessage" ng-click="secondaryWrapper()"></button>
    </div>
    <div class="btn-group">
        <button ng-if="formId" class="btn btn-primary" type="submit" form="{{formId}}" ng-bind="primaryMessage"></button>
        <button ng-if="!formId" class="btn btn-primary" type="button" ng-bind="primaryMessage" ng-click="primaryAction();"></button>
    </div>
</div>