
<div class="form-group">
    <label for="{{customId}}" ng-bind="label || 'Senha'"></label>
    <input id="{{customId}}" type="password" class="form-control" ng-model="model" required={{required}} placeholder="Senha">
</div>
<div ng-if="confirmPassword" class="form-group">
    <label for="{{customId}}-confirm-pass" ng-bind="labelConfirm || 'Confirme a senha'"></label>
    <input id="{{customId}}-confirm-pass" type="password" class="form-control" ng-model="modelConfirmation" placeholder="Confirme sua senha" required={{required}}>
</div>
    