
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
        <h4 ng-bind="'Entrar'"></h4>
        <form id="loginForm" ng-submit="login()">
            <custom-input label="Email" type="email" model="user.email" placeholder="Usuário" required="true"></custom-input>
            <password-input label="Password" model="user.password" required="true" 
                confirmation-password="false"></password-input>                
        </form>
        <span ng-show="errorCredentials" class="text-danger" ng-bind="'Verifique suas credenciais.'"></span>
    </div>
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
        <button-group form-id="loginForm" primary-message='Entrar' secondary='true' secondary-message='Registrar'            
        secondary-action="register"></button-group>
    </div>
</div>